/*
 * Estilos de tu proyecto
 */
 *{
 	padding: 0px;
 	margin: 0px;
 	font-family: 'Montserrat', sans-serif;
 }
body{
	background-color: aqua;
}
 .cuarto{
 	width: 100%;
 	margin: 0px;
 	background-color: white;
 	display: inline-block;
 	box-sizing: border-box;
 	outline: 1px solid yellow;

 }


.frase{
	padding: 65px;
	width: 350px;
	background-color: white;
	outline: 1px solid red;
	float: left;
	line-height: 15pt;
	
}

.cuarto .frase h4, .cuarto .frase h1{
	text-transform: uppercase;
}

.video1{
	margin: 0px;
	width: 64%;

	outline: 1px solid white;
	box-sizing: border-box;
	float: left;
}